header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.active {
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}
  
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
  
.header-container h1 {
    font-size: 24px;
}
  
.header-container nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
  
.header-container nav ul li {
    margin: 0;
    padding: 0;
}
  
.header-container nav ul li a {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: color 0.3s, color 0.3s;
}
  
.header-container nav ul li a:hover {
    background-color: #f00;
    color: #fff !important; /* !important to override previous styles */
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.about-me {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.about-me-image img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me-content h2 {
    color: #333;
    font-size: 30px;
}

.about-me-content p {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
}

.portfolio-container {
    max-width: 90%; /* Adjust the maximum width */
    overflow-x: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.portfolio-divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.portfolio-item {
    text-align: center;
    box-sizing: border-box;
    margin: 100px; /* Add space around each project */
    flex: 0 0 calc(33.33% - 40px);
}

.portfolio-item a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.portfolio-item a:hover {
    background-color: #f00;
}

.portfolio-item img {
    max-width: 200px; /* Adjust the max-width as needed */
    max-height: 150px; /* Adjust the max-height as needed */
    display: block; /* Ensure images don't affect surrounding elements */
    margin: 0 auto; /* Center the images horizontally */
}

.route-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(75vh - 120px);
}
  
.contact-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
.input-field.error {
    border: 1px solid #f00;
}
  
.error-message {
    color: #f00;
    margin-top: 5px;
}
  
button[type="submit"] {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #d00;
}
  
@media screen and (max-width: 768px) {
    .contact-container {
      max-width: 100%;
      padding: 10px;
    }
}

.blur-events {
    list-style: none;
    padding: 0;
    margin-top: 10px; 
}
  
.blur-events li {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}

#resume {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 75vh;
}

.resume-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.resume-container p {
    font-size: 16px;
    color: #555;
}
  
.resume-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.resume-container a:hover {
    background-color: #f00;
}
  
.resume-container h3 {
    font-size: 24px;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
}
  
.resume-container ul {
    list-style-type: none;
    padding: 0;
}
  
.resume-container li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

/* #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .app-container {
    flex-grow: 1;
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-links a:hover {
    background-color: #f00;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .portfolio-items {
        margin: 10px 0; /* Adjust space for smaller screens */
    }
    
    .portfolio-item {
        margin: 10px; /* Adjust space for smaller screens */
        flex: 0 0 calc(50% - 20px); /* Adjust width for smaller screens */
    }
}